@media only screen and (min-width:650px) and (max-width:920px){
    section h1 {
        font-size: 2.5rem;
        }
        section p {
            font-size: 1rem;
        }
        section {
            max-width: 40%;
            position: absolute;
            left: 5vw;
            top: 10vw;
        }
        
        #kripalu1 img {
            height: 400px;
        }
        #kripalu2 img {
            height: 400px;
        }
        button {
            font-size: 1rem;
        }
}